; /etc/php/8.3/fpm/pool.d/www.conf

; a pool called www
[www]
user = www-data
group = www-data

; use a unix domain socket
listen = /var/run/php/php8.4.3-fpm.sock

; or listen on a TCP connection
; listen = 127.0.0.1:9000
